<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Departement</title>
</head>
<body>
<form action="#" th:action="@{/save}" th:object="${departement}" method="post">
<label for="title">Titre:</label><br>
<input type="text"  th:field="*{title}"/><br>
<label for="title">Description:</label><br>
<textarea  th:field="*{desc}"
          rows="5" cols="33">

</textarea>

<button type="submit"> Save </button>
</form>
</body>
</html>